#cardContainer {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
}

.card div {
  border: 5px solid #000000;
  border-radius: 20px;
  margin: 0 auto;
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  text-align: center;
  vertical-align: middle;
  line-height: 17vh;
  font-size: 250%;
  box-shadow: inset 0px 0px 10px black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.card.state-0 div {
  background: #FFDDAA;
  font-weight: bold;
  color: #000;
}

.card.state-1 div {
  background: #00A;
  color: #AAF;
}

.card.state-2 div {
  background: #A00;
  color: #FAA;  
}

.card.state-3 div {
  background: #AAA; 
  color: #666;
}

.card.state-4 div {
  background: #333;
  color: #AAA;
}

h1 {
  float: left;
  margin: 5px;
  height: 40px;
}

button {
  float: right;
  margin: 5px;
}